{% extends "root.html" %}
{% block content %}


<h2>
  Informations concerning {{id}}
</h2>
<hr>
<table class="table table-bordered">
  {% for key, value in gene.items() %}
  <tr>
    <th>{{key}}</th>
    <td>{{value}}</td>
  </tr>
  {% endfor %}
  </tr>
</table>

<hr>

<h2>
    Linked transcripts of {{id}}
</h2>

{% if transcripts %}
  <table class="table table-striped">
  <tr>
    {% for key in transcripts[0].keys() %}
    <th>{{key}}</th>
    {% endfor %}
  </tr>
  {% for transcript in transcripts %}
    {%for value in transcript.values() %}
      <td>{{value}}</td>
    {% endfor %}
  {% endfor %}

</table>
{% endif %}

{% endblock %}